/*************************************** Media Queries ************************************/
/*************************************** FONTS ********************************************/
/*************************************** COLORS ********************************************/
/*************************************** Center our content ************************************/
.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row__grid {
  max-width: 80rem;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .row {
    max-width: 100rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 80rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .row {
    max-width: 55rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 24em) {
  .row {
    max-width: 50rem;
    margin: 0 auto;
  }
}

/*************************************** Basic Styling ********************************************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0c0606;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  color: #0c0606;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 24em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #0c0606;
  line-height: 1.6;
}

/* ========================= Header Starts Here =========================== */
.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(12, 6, 6, 0.9)), to(rgba(215, 80, 24, 0.2))), url(../img/lamp3.jpg);
  background-image: linear-gradient(to right, rgba(12, 6, 6, 0.9), rgba(215, 80, 24, 0.2)), url(../img/lamp3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header__textbox {
  position: absolute;
  top: 55%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 8vw;
}

.header__textbox--discount {
  font-size: 1.4rem;
  color: #e2bba4;
}

@media only screen and (max-width: 37.5em) {
  .header__textbox--discount {
    font-size: 2rem;
  }
}

.logo {
  font-size: 3rem;
  color: #fef9f6;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.nav__list *:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  display: inline;
}

@media only screen and (max-width: 37.5em) {
  .nav__item {
    display: block;
  }
}

.nav__link {
  font-size: 1.6rem;
  color: #fef9f6;
}

@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 3rem;
  }
}

.nav__link:hover {
  color: #d75018;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon__menu {
  font-size: 3rem;
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .icon__menu {
    display: block;
    color: #fef9f6;
  }
}

.heading-primary {
  font-size: 4.5rem;
  color: #fef9f6;
  line-height: 1.3;
  font-weight: 500;
  display: block;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4rem;
    line-height: 1;
  }
}

.btn {
  display: inline-block;
  padding: .8rem 1.8rem;
}

@media only screen and (max-width: 37.5em) {
  .btn {
    padding: 1.5rem 2.5rem;
  }
}

.btn__primary {
  color: #fef9f6;
  background-color: #d75018;
  font-size: 1.4rem;
  border: 1px solid #d75018;
  text-transform: uppercase;
}

.btn__primary:hover {
  color: #d75018;
  background-color: #fef9f6;
  border: 1px solid #d75018;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn__light {
  background-color: #fef9f6;
  color: #d75018;
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .btn__light {
    font-size: 1.8rem;
  }
}

.btn__light:hover {
  background-color: #d75018;
  color: #fef9f6;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* ========================= Header Ends Here =========================== */
/* ========================= Section shop Starts Here =========================== */
.shop {
  padding: 5rem 0;
}

.shop__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 3rem;
}

.shop__grid--item {
  position: relative;
}

.shop__grid--item-1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 6, 6, 0.7);
}

.shop__grid--item-2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 6, 6, 0.7);
}

.shop__grid--item-img {
  display: block;
}

.shop__grid--item-textbox {
  color: #fef9f6;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop__grid--item-textbox *:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 75em) {
  .shop__grid--item-textbox {
    top: 50%;
    left: 35%;
  }
}

.shop__grid--item-arrival {
  font-size: 1.3rem;
}

@media only screen and (max-width: 37.5em) {
  .shop__grid--item-arrival {
    font-size: 2rem;
  }
}

.shop__grid--item-off {
  font-size: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .shop__grid--item-off {
    font-size: 3rem;
  }
}

.shop__grid--item-view {
  font-size: 1.3rem;
}

@media only screen and (max-width: 37.5em) {
  .shop__grid--item-view {
    font-size: 2rem;
  }
}

/* ========================= Section shop ends Here =========================== */
/* ========================= Section Featured starts Here =========================== */
.featured__list {
  text-align: center;
  list-style: none;
}

.featured__item {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  background-color: #fef9f6;
  font-size: 2rem;
  cursor: pointer;
}

.featured__item-active {
  background-color: #d75018;
}

.featured__grid--item {
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
}

.featured__grid--item-img {
  height: 100%;
}

.featured__grid--item-text {
  font-size: 1.4rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .featured__grid--item-text {
    font-size: 2rem;
    font-weight: 400;
  }
}

.featured__grid--item-price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #d75018;
}

@media only screen and (max-width: 37.5em) {
  .featured__grid--item-price {
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  text-align: center;
}

/* ========================= Section Featured ends Here =========================== */
/* ========================= Section Pages starts Here =========================== */
.pages {
  padding: 5rem 0;
}

.pages__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .pages__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pages__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 2vh 2vw;
}

.pages__textbox--text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .pages__textbox--text {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.pages__textbox--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pages__textbox--flex *:not(:last-child) {
  margin-right: 2rem;
}

.pages__textbox--flex-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.pages__textbox--flex-left-img {
  height: 80%;
}

.pages__textbox--flex-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pages__textbox--flex-right-img {
  height: 80%;
}

.pages__textbox--flex-name {
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 37.5em) {
  .pages__textbox--flex-name {
    font-size: 1.8rem;
  }
}

.pages__textbox--flex-price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #d75018;
}

@media only screen and (max-width: 37.5em) {
  .pages__textbox--flex-price {
    font-size: 1.8rem;
  }
}

.pages__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2vh 3vw;
}

.pages__photo--img {
  height: 100%;
}

.heading-tertiary {
  font-size: 3rem;
  color: #0c0606;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 4rem;
  }
}

/* ========================= Section Pages ends Here =========================== */
/* ========================= Section purchase starts Here =========================== */
.purchase {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(238, 169, 74, 0.5)), to(rgba(215, 80, 24, 0.5))), url(../img/lamp25.jpg);
  background-image: linear-gradient(to right bottom, rgba(238, 169, 74, 0.5), rgba(215, 80, 24, 0.5)), url(../img/lamp25.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  margin: 5rem 0;
}

.purchase__textbox {
  color: #fef9f6;
  padding: 15vh 40vw 0 0;
}

@media only screen and (max-width: 37.5em) {
  .purchase__textbox {
    padding: 15vh 10vw 0 0;
  }
}

.purchase__textbox *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.purchase__textbox--heading {
  text-align: initial;
  color: #fef9f6;
  line-height: 1;
}

.purchase__textbox--text {
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .purchase__textbox--text {
    font-size: 1.8rem;
  }
}

/* ========================= Section purchase ends Here =========================== */
/* ========================= Section blog starts Here =========================== */
.blog {
  padding: 5rem 0;
}

.blog__heading {
  text-align: center;
  margin-bottom: 3rem;
}

.blog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
}

.blog__grid *:not(:last-child) {
  margin-bottom: 1rem;
}

.blog__grid--item-img {
  height: 70%;
}

.blog__grid--item-name {
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .blog__grid--item-name {
    font-size: 1.8rem;
  }
}

.blog__grid--item-para {
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .blog__grid--item-para {
    font-size: 1.8rem;
  }
}

/* ========================= Section blog ends Here =========================== */
/* ========================= Section update starts Here =========================== */
.update {
  margin: 5rem 0;
}

.update__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d75018;
  padding: 5rem 5vw;
  border-radius: .5rem;
}

@media only screen and (max-width: 37.5em) {
  .update__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.update__flex--textbox {
  color: #fef9f6;
}

.update__flex--textbox-heading {
  font-size: 2.5rem;
}

.update__flex--textbox-text {
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .update__flex--textbox-text {
    margin-bottom: 2rem;
  }
}

.form__group--input {
  padding: 1.5rem 10rem;
  outline: none;
  border: none;
}

.form__group--input-footer {
  padding: 1rem 2rem;
  margin-top: 2rem;
}

/* ========================= Section update ends Here =========================== */
/* ========================= Footer starts Here =========================== */
.footer {
  color: #fef9f6;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  padding: 8rem 0;
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__grid {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.footer__grid--list *:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__grid--link {
  color: #6b8476;
  font-size: 1.3rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__grid--link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__grid--link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 24em) {
  .footer__grid--link {
    font-size: 2rem;
  }
}

.footer__grid--link:hover {
  color: #fef9f6;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__grid--link-active {
  font-size: 1.6rem;
  color: #fef9f6;
}

@media only screen and (max-width: 37.5em) {
  .footer__grid--link-active {
    font-size: 3rem;
  }
}

/* ========================= Footer ends Here =========================== */
/*# sourceMappingURL=main.css.map */